.editor {
	height: 100%;
	display: flex;
}

.editor:not(.is-ready) {
	visibility: hidden;
	height: 0;
}

.editor__main {
	position: relative;
	flex-grow: 1;
	height: 100%;
	overflow: auto;
}

.editor__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: var(--grid-unit);
	z-index: 2;
	pointer-events: none;
}

.editor__header button,
.editor__header a {
	pointer-events: all;
}

.editor__header.is-inspector-opened {
	right: var(--inspector-width);
}

.editor__canvas {
	padding-top: calc(var(--grid-unit) * 3 + var(--button-height));
	display: grid;
	grid-gap: var(--grid-unit);
	grid-template-columns: 1fr;
	grid-template-areas: 'center';
}

@media (min-width: 1000px) {
	.editor__canvas {
		grid-template-columns: 200px 1fr 200px;
		grid-template-areas: 'left center right';
	}
}

@media (min-width: 1200px) {
	.editor__canvas {
		grid-template-columns: 320px 1fr 320px;
		grid-template-areas: 'left center right';
	}
}

.editor__content {
	grid-area: center;
}

.editor__content img {
	max-width: 100%;
	height: auto;
}

.editor__content iframe {
	width: 100%;
}

.editor__comments {
	display: none;
	grid-area: right;
}

@media (min-width: 1000px) {
	.editor__comments {
		display: block;
	}
}	

.editor__sidebar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: auto;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1;

	/* Prevent dark mode because Gutenberg UI doesn't support it well */
	background: #fff;
	color: #000;
}

@media (min-width: 800px) {

	.editor__sidebar {
		position: unset;
		width: var(--inspector-width);
		border-left: 1px solid #eee;
		flex-shrink: 0;
	}
}

.editor__post-title-wrapper {

	/* Match the block editor wrapper */
	padding-left: 14px;
	padding-right: 14px;
}

@media (min-width: 600px) {

	.editor__post-title-wrapper {

		/* Match the block editor wrapper */
		padding-left: 36px;
		padding-right: 36px;
	}
}

.components-base-control.components-base-control {
	font-family: var(--default-font-family);
}
