.editor {
  height: 100%;
  display: flex;
}

.editor__main {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
}

.editor__header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--grid-unit);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.editor__footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--grid-unit);
  display: flex;
  justify-content: flex-end;
}

.editor__canvas {
  /* Remove header and footer from the height */
  min-height: calc(100% - var(--grid-unit) * 4 - var(--button-height) * 2);
  box-sizing: border-box;
}

.editor__canvas img {
  max-width: 100%;
  height: auto;
}

.editor__canvas iframe {
  width: 100%;
}

.editor__sidebar {
  width: var(--inspector-width);
  border-left: 1px solid #eee;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
