.editor {
  height: 100%;
  display: flex;
}

.editor__main {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
}

.editor__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--grid-unit);
  z-index: 1;
}

.editor__header.is-inspector-opened {
  right: var(--inspector-width);
}

.editor__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--grid-unit);
}

.editor__footer.is-inspector-opened {
  right: var(--inspector-width);
}

.editor__canvas {
  padding-top: var(--grid-unit);
}

.editor__canvas img {
  max-width: 100%;
  height: auto;
}

.editor__canvas iframe {
  width: 100%;
}

.editor__sidebar {
  width: var(--inspector-width);
  border-left: 1px solid #eee;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
