.app {
	height: 100%;
	overflow-y: auto;
}

.app.is-dark-theme {
	background: #000;
	color: #fff;
	--background-color: #000;
	--border-color: #333;
	--link-color: #8498f1;
}

/* Prevent dark mode issues */
.components-popover__content.components-popover__content {
	background: #fff;
	color: #000;
}


.app__notices {
	position: fixed;
	left: var(--grid-unit);
	bottom: var(--grid-unit);
}

.app__notices .components-snackbar {
	max-width: 500px;
}
