.logo.components-button {
  background: var(--theme-color);
  display: inline-block;
  color: white !important;
  font-family: var(--editor-font);
  border-radius: var(--border-radius);
  height: var(--button-height);
  width: var(--button-height);
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1.3em;
  letter-spacing: -0.1em;
  box-sizing: border-box;
  text-transform: lowercase;
  padding: calc(var(--grid-unit) / 4);
}

.logo.components-button:hover {
  background: black;
}

.logo span {
  opacity: 0.7;
}

.logo-dropdown {
  margin: -12px;
}

.logo-dropdown-menu {
  padding: calc(var(--grid-unit) * 1.5);
}

.logo-dropdown-menu + .logo-dropdown-menu {
  border-top: 1px solid black;
}
