.editor-share-modal__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--grid-unit) * 2);
  align-items: top;
}

.editor-share-modal__copy {
  display: flex;
  align-items: stretch;
}

.editor-share-modal__copy input {
  flex-grow: 1;
  margin: 0;
  margin-right: 4px;
  padding: 4px 6px;
  background: #eeeeee;
  border: 1px solid #e4e4e4;
  box-shadow: none;
}

.editor-share-modal__footer {
  margin-top: calc(var(--grid-unit) * 2);
  border-top: 1px solid #e4e4e4;
  padding: var(--grid-unit) 0;
}

.editor-share-modal__info {
  display: flex;
  align-items: flex-start;
  margin-top: var(--grid-unit);
}

.editor-share-modal__info svg {
  flex-shrink: 0;
  margin-right: var(--grid-unit);
}

.editor-share-modal__info p {
  flex-grow: 1;
  margin: 0;
}

.editor-share-modal__e2e-icon {
  fill: seagreen;
}

.editor-share-modal__info-icon {
  fill: sandybrown;
}
