.loading-page {
	height: 100%;
}

.loading-page__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: var(--grid-unit);
}

.layout.is-sidebar-opened .loading-page__header {
	left: var(--sidebar-width);
}
