.sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sidebar__menu {
	flex-grow: 1;
	overflow: auto;
	padding: var( --grid-unit );
}

.sidebar__footer {
	padding: var( --grid-unit );
}

.sidebar__section {
	padding: calc( var( --grid-unit ) * 1.5 );
}

.sidebar__section + .sidebar__section {
	border-top: 1px solid var(--border-color);
}

.sidebar__main-menu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar__main-menu-header h3 {
	display: inline-block;
	margin: 0;
}

.sidebar__search {
	margin-top: var(--grid-unit);
}

.sidebar__main-menu {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.sidebar__main-menu a.components-button {
	font-weight: 500;
	padding: 0;
}

.sidebar__close {
	display: none;
}

@media (max-width: 800px) {
	.sidebar__close {
		padding: var( --grid-unit );
		display: flex;
		justify-content: flex-end;
	}
}

@media (min-width: 800px) {
	.sidebar__preferences,
	.sidebar__about {
		width: 300px;
	}
}
