.post-render {
  height: 100%;
}
.post-render__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--grid-unit);
}

.post-render__main {
  margin: auto;
  max-width: 700px;
  padding-left: var(--grid-unit);
  padding-right: var(--grid-unit);
  font-family: var(--editor-font);
  font-size: var(--editor-font-size);
  padding-bottom: var(--grid-unit);
  padding-top: calc(var(--grid-unit) * 3 + var(--button-height));
}
